# Server Configuration
PORT=3000
NODE_ENV=development # "development" | "test" | "production


# Database Configuration
DATABASE_URL=mongodb://localhost:27017/shopping-list


# CORS Configuration
ALLOWED_ORIGINS=http://localhost:5173
